@font-face {
    font-family: 'Raleway-Black';
    src: url(../Dars30/fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url(../Dars30/fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../Dars30/fonts/Raleway-Regular.ttf);
}


