@import 'fonts.css';


:root   {
    --green: #69cf17;
    --green_90: #5eac28;
    --green_75:  #4f9b11;
    --f900: 'Raleway-Black';
    --f400: 'Raleway-Regular';
    --f100: 'Raleway-Thin';
    --black: #000;
    --grey: #dedede;
    --white: #fff;
}

body    {
    background: #060002;
}


*   {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
} 

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start  {
    align-items: flex-start;
}

.flex-direction-column  {
    flex-direction: column;
}

.flex-grow-1    {
    flex-grow: 1;
}

/* ---------HEADER-------- */

header  {
    height: 800px;
    padding-top: 25px;
    background: url(images/bg_img.jpg) no-repeat center center / cover;
}

header ul   {
    display: flex;

}



header ul a {
    font-size: 20px;
    color: var(--green);
    font-weight: 300;
    padding: 24px 31px;
    /* box-sizing: border-box; */
    display: flex;
    transition: 0.5s;

}

header ul a:hover   {
    background: var(--green_75);
    color: var(--white);
    text-decoration: none;
}

header ul span:hover  {
    color: var(--black);
}

header ul .cart span    {
    width: 24px;
    height: 24px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

header h1   {
    font-size: 72px;
    color: var(--green);
    font-family: var(--f900);
    margin-bottom: 30px;
}

header .text_head   {
    font-size: 36px;
    color: var(--green);
    font-family: var(--f400);
    margin-bottom: 30px;
}

header p    {
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 80px;
}

header .text_btn    {
    font-size: 50px;
    color: var(--white);
    font-family: var(--f100);
    padding: 20px 75px;
    background: var(--green);
    display: inline-block;
}

header .logo    {
    font-size: 24px;
    color: var(--white);
    padding: 5px 25px;
    background: #4e9f0d;
    /* border: 3px solid var(--grey); */
    text-transform: uppercase;
    border-radius: 5px;
}

header .logo:hover  {
    text-decoration: none;
}

/* -----Section----- */

section {
    margin-top: 50px;
}

section ul li a {
    font-size: 20px;
    margin-right: 44px;
    color: var(--grey);
}

section ul li a:hover {
    text-decoration: none;
    color: #897e7e;
}

section .active {
    color: var(--green);
}

section .active:hover   {
    text-decoration: none;
    
}

section .block_burger img    {
    width: 100%;
}

section .block_burger   {
    position: relative;
    margin-top: 70px;
}

section .block_burger button    {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 0;
    font-size: 0;
    color: var(--white);
    font-weight: 700;
}

section .block_burger button:hover  {
    font-size: 24px;
    background: #61bc16b7;
}

section h2  {
    font-size: 24px;
    color: var(--green);
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
}

section p   {
    font-size: 16px;
    color: var(--grey);
}

/* -----Main----- */
main    {
    background: url(images/section_bg.jpg) no-repeat center center / cover;
    margin-top: 100px;
    padding: 50px 0 125px 0;
}

main h3 {
    font-size: 36px;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
}

main .box {
    width: 200px;
    height: 1px;
    background: var(--green);
    margin: 25px auto 50px auto;
}

main p  {
    font-size: 18px;
    color: var(--white);
    margin-bottom: 30px;
}

.map iframe   {
    width: 100%;
    height: 500px;
    margin: 0;
}

.map h4 {
    font-size: 36px;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
    background: var(--white);
    padding-top: 47px;
    padding-bottom: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* -----Footer----- */

footer  {
    padding-top: 40px;
    padding-bottom: 50px;
    background: linear-gradient(to top, #162105, #090603);
}

footer  p   {
    font-size: 24px;
    color: var(--green);
}

footer .logo    {
    font-size: 24px;
    color: var(--white);
    padding: 5px 25px;
    background: #4e9f0d;
    /* border: 3px solid var(--grey); */
    text-transform: uppercase;
    border-radius: 5px;
}

footer .logo:hover  {
    text-decoration: none;
}

footer .icons ul li a   {
    font-size: 45px;
    color: #fefefe;
    margin-right: 43px;
   
}

footer .icons   {
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

footer p    {
    font-size: 16px;
    color: var(--white);
}

footer .number:hover  {
    font-size: 50px;
    color: var(--green);
    transition: 0.7s;
}

footer .icons i:hover   {
    color: var(--green_90);
    font-size: 30px;
    transition: 0.5s;
}

/* -----Media----- */

@media (max-width:785px) {
    header h1 {
        font-size: 50px;
        color: var(--green);
        margin-left: 30px;
    }

    header .text_head {
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
   }

   header p {
    font-size: 18px;
    margin-bottom: 50px;
    margin-left: 30px;
    }

    header .text_btn {
        font-size: 45px;
        padding: 18px 60px;
    }

}

@media (max-width:568px)    {
    main .box {
        width: 160px;
    }
    main p {
        font-size: 13px;
        margin-bottom: 18px;
    }
}


/* @media (max-width: 320px)   { 
    header h1 {
    font-size: 40px;
    margin-left: 20px;
    }    
    header .text_head {
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    header p {
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 20px;
    }    
    header .text_btn {
        font-size: 25px;
        padding: 18px 60px;
    }
} */